/* this is a CSS animation. the syntax can get complicated, but in this instance, we just want the element with the id "caret" to blink every second forever */
#caret {
  animation: caret 1s steps(1, end) infinite;
}

@keyframes caret {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
